package layout

import (
    "github.com/guitarrich/headless-go-htmx/model"
)

templ MainLayout(pageData model.PageData) {
    @Base() {
        <header>
            <h1>{pageData.Title}</h1>
        </header>
        <main>
            <h2>Welcome to Headless Go Htmx</h2>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    }
}
